/* Псевдоэлементы и псевдоклассы */

a.lesson {
    color: black;
    text-decoration: none;
}

a.lesson:visited {
    color: turquoise;
}

a.lesson:hover {
    color: red;
}

a.lesson:active {
    color: green;
}

a.lesson:focus {
    font-weight: bold;
}

p.lesson::first-letter {
    font-size: 30px;
}

p.lesson::first-line {
    text-decoration: underline;
}

p.lesson::selection {
    background-color: green;
    color: turquoise;
}

h3.lesson::before {
    content: "This is ";
    text-decoration: underline;
}

h3.lesson::after {
    content: " channel";
    text-transform: uppercase;
}

.lessont1 li:first-child {
    color: red;
}

.lessont1 li:last-child {
    color: blue;
}

.lessont2 li:nth-child(even) {
    color: red;
}

.lessont2 li:nth-child(odd) {
    color: blue;
}

.lessont3 li:nth-child(2n) {
    color: yellow;
}

.lessont3 li:nth-child(2n+1) {
    text-transform: uppercase;
}

span.test3,
div.test3 {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

#test31 {
    display: inline;

}

/* Позиционирование и размеры */

h4.test4 {
    border: 1px solid black;
}

div.test4 {
    border: 10px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    position: sticky
}

/* Тема 5 */

.ex5 li {
    font-size: 18px;
}

div.ex5 {
    background: rgb(143, 227, 255);
    color: black;
    width: 300px;
    height: 100px;
    overflow: hidden;
}

/* Тема 6 */

.wrapper .wrapper2 .item {
    padding: 20px;
    color: white;
}

.wrapper {
    background-color: grey;
}

.wrapper2 {
    background-color: green;
}

.item1 {
    background-color: crimson;
    float: right;
}

.item2 {
    background-color: cyan;
    float: left;
}

.item3 {
    background-color: purple;
}

/* Тема 7 */

h3.ex7 {
    font-family: Arial, sans-serif;
}

h4.ex7 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

/*
@font-face {
    font-family: ;
    Разрешение файла со шрифтом через точку 
    src: url("/адресс где содержится шрифт.ttf") format("truetype");
    src: url("/адресс где содержится шрифт.woff") format("woff");
    src: url("/адресс где содержится шрифт.woff2") format("woff2");
    src: url("/адресс где содержится шрифт.otf") format("olentype");
    font-weight: 500; - стандартное значение
    font-style: normal;
}

Самый правильный вариант записи:
    font-family: "Шрифт который хотим", Безопасный шрифт№1,Безопасный шрифт№2, 
    засечки(да/нет);
*/

p.ex7 {
    color: rgb(143, 227, 255);
    text-decoration: underline overline line-through none;
    letter-spacing: 2px;
    word-spacing: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: justify;
    text-indent: 20px;
}

/* Тема 8 */

div.ex8 {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    border-width: 10px;
    border-style: solid;
    border-color: red;
    /* border: 10px solid red; */

    border-right: none;
    border-right-style: none;

    border-bottom-width: 20px;
    border-left-color: blue;
}

.ex8 {
    outline: 10px solid aqua;
}

button.ex8:focus,
input.ex8:focus {
    outline: 2px solid aqua;
}

h3.ex8s {
    text-shadow: -5px 5px 3px red, 5px -5px 3px green;
}

.shadow {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    box-shadow: inset 1px 2xp 5px blue, -1px -2px 5px green;
}

/* Тема 9 */

div.ex9 {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    /* border-radius: 15px 25px 35px 45px; */
    border-radius: 20px/40px;
}

ul li.ex9 {
    list-style-type: disc;
    list-style-position: outside;
}

h3.ex9 {
    color: red;
}

/* Тема 10 */

.ex10.first {
    display: none;
}

.ex10.second {
    /*visibility: hidden; 
    opacity: 0; */
    color: transparent;
}

/* Тема 11 */

.ex11.fon {
    min-height: 60vh;
    width: 60%;
    /* width - ШИРИНА */

    /* background: gainsboro;
    background-image: url(https://img2.akspic.ru/previews/2/9/4/1/7/171492/171492-fraktalnoe_iskusstvo-zelenyj-tkan-akva-materialnoe_svojstvo-x750.jpg);
    background-position: center;
    background-repeat: no-repeat;

    background-image: url(https://img2.akspic.ru/previews/6/5/3/1/7/171356/171356-volna-upravlyat_voditelem-voda-oblako-gidroresursy-x750.jpg);
    background-repeat: no-repeat;
    background-position: center;  */
    /* background-size: 60vh 60%; */
    /* background-attachment: fixed;
    /* background: gainsboro url(https://img2.akspic.ru/previews/6/5/3/1/7/171356/171356-volna-upravlyat_voditelem-voda-oblako-gidroresursy-x750.jpg) 50% 50% no-repeat fixed; */

    /* background: gainsboro url(https://img2.akspic.ru/previews/2/9/4/1/7/171492/171492-fraktalnoe_iskusstvo-zelenyj-tkan-akva-materialnoe_svojstvo-x750.jpg) 50% 50% no-repeat, url(https://img2.akspic.ru/previews/6/5/3/1/7/171356/171356-volna-upravlyat_voditelem-voda-oblako-gidroresursy-x750.jpg) center no-repeat; */

    background: url(https://img2.akspic.ru/previews/2/9/4/1/7/171492/171492-fraktalnoe_iskusstvo-zelenyj-tkan-akva-materialnoe_svojstvo-x750.jpg) center no-repeat, url(https://img2.akspic.ru/previews/6/5/3/1/7/171356/171356-volna-upravlyat_voditelem-voda-oblako-gidroresursy-x750.jpg) center no-repeat;

}



/* Тема 12 */

div.ex12.grad {
    min-height: 60vh;
    width: 60%;
    /* background-image: repeating-linear-gradient(45deg, red 10px, orange 10px, orange 20px, red 20px, red 30px, orange 30px) */
    background: radial-gradient(ellipse farthest-corner, orange, red);
}


/* Тема 13 */

.ex13 {
    padding: 0;
    margin: 0;
    height: 60vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

img {
    transition: all 2s ease;
}

/* Тема 14 */

div.ex14 {
    margin: 50px 100px;
    border: 2px solid red;
    width: 600px;
    height: 480px;
    /* overflow: hidden; */
}

img.ex14 {
    transition: all 2s ease;
}

img.ex14:hover {
    /* transform: rotate(180deg); */
    /* transform: scale(1.5); */
    /* transform: translate(50px, 50px); */
    /* transform: skew(20deg, 20deg); */
    /* transform: rotate(10deg) scale(1.2) skew(10deg); */
    transform: rotate(180deg);
    transform-origin: center;
}

/* Плавные переходы */

.ex15 {
    margin: 50px 100px;
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 2px black solid;

    /* transition-duration: 2s, 1s;
    transition-property: transform, background-color;
    transition-delay: 0s, 2s;
    transition-timing-function: linear; */
    transition: all ease 2s 0.5s;
}

.ex15:hover {
    background-color: red;
    transform: scale(1.2);
}


/* Тема 16 */

.ex16 {
    margin: 50px 100px;
    height: 300px;
    width: 300px;
    background-color: aqua;
    border: 2px black solid;
    /* animation-name: myAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-delay: 2s; */
    animation: myAnimation 3s infinite, bgChange 3s infinite;

}

.ex16:hover {
    animation-play-state: paused;
}

@keyframes myAnimation {
    form {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes bgChange {
    form {
        background-color: aqua;
    }

    50% {
        background-color: red;
    }

    to {
        background-color: green;
    }
}


/* Тема 17 */

.ex17 {
    margin: 0;
    padding: 0;
    height: 30vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

table.ex17,
table.ex17 * {
    border: 1px solid;
    max-width: 900px;
    border-collapse: collapse;
    /* border-spacing: 10px; */
    caption-side: top;
    text-align: center;
    vertical-align: center;
    empty-cells: hide;
    cursor: pointer;
}

/* Тема 18 */

.ex18 {
    margin: 20px;
    font-size: 45px;
    border: 1px black solid;
    width: 100px;
    min-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    writing-mode: vertical-lr;
}

.ex18colum {
    column-count: 3;
    column-rule: 1px black solid;
    /* column-width: 700px; */
    column-gap: 100px;
}

/* Тема 19 */

.ex19 {
    padding: 10px 30px;
    margin: 0;
    height: 30vh;
    background-color: lightgrey;
    font-size: 28px;
    font-family: monospace;
}

@media screen {
    p.ex19 {
        background-color: aqua;
        
    }
}