/* Псевдоэлементы и псевдоклассы */

a.lesson {
    color: black;
    text-decoration: none;
}

a.lesson:visited {
    color: turquoise;
}

a.lesson:hover {
    color: red;
}

a.lesson:active {
    color: green;
}

a.lesson:focus {
    font-weight: bold;
}

p.lesson::first-letter {
    font-size: 30px;
}

p.lesson::first-line {
    text-decoration: underline;
}

p.lesson::selection {
    background-color: green;
    color: turquoise;
}

h3.lesson::before {
    content: "This is ";
    text-decoration: underline;
}

h3.lesson::after {
    content: " channel";
    text-transform: uppercase;
}

.lessont1 li:first-child {
    color: red;
}

.lessont1 li:last-child {
    color: blue;
}

.lessont2 li:nth-child(even) {
    color: red;
}

.lessont2 li:nth-child(odd) {
    color: blue;
}

.lessont3 li:nth-child(2n) {
    color: yellow;
}

.lessont3 li:nth-child(2n+1) {
    text-transform: uppercase;
}

span.test3,
div.test3 {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

#test31 {
    display: inline;

}

/* Позиционирование и размеры */

h4.test4 {
    border: 1px solid black;
}

div.test4 {
    border: 10px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    position: sticky
}

/* Тема 5 */

.ex5 li {
    font-size: 18px;
}

div.ex5 {
    background: rgb(143, 227, 255);
    color: black;
    width: 300px;
    height: 100px;
    overflow: hidden;
}

/* Тема 6 */

.wrapper .wrapper2 .item {
    padding: 20px;
    color: white;
}

.wrapper {
    background-color: grey;
}

.wrapper2 {
    background-color: green;
}

.item1 {
    background-color: crimson;
    float: right;
}

.item2 {
    background-color: cyan;
    float: left;
}

.item3 {
    background-color: purple;
}

/* Тема 7 */

h3.ex7 {
    font-family: Arial, sans-serif;
}

h4.ex7 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

/*
@font-face {
    font-family: ;
    Разрешение файла со шрифтом через точку 
    src: url("/адресс где содержится шрифт.ttf") format("truetype");
    src: url("/адресс где содержится шрифт.woff") format("woff");
    src: url("/адресс где содержится шрифт.woff2") format("woff2");
    src: url("/адресс где содержится шрифт.otf") format("olentype");
    font-weight: 500; - стандартное значение
    font-style: normal;
}

Самый правильный вариант записи:
    font-family: "Шрифт который хотим", Безопасный шрифт№1,Безопасный шрифт№2, 
    засечки(да/нет);
*/

p.ex7 {
    color: rgb(143, 227, 255);
    text-decoration: underline overline line-through none;
    letter-spacing: 2px;
    word-spacing: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: justify;
    text-indent: 20px;
}

/* Тема 8 */

div.ex8 {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    border-width: 10px;
    border-style: solid;
    border-color: red;
    /* border: 10px solid red; */

    border-right: none;
    border-right-style: none;

    border-bottom-width: 20px;
    border-left-color: blue;
}

.ex8 {
    outline: 10px solid aqua;
}

button.ex8:focus,
input.ex8:focus {
    outline: 2px solid aqua;
}

h3.ex8s {
    text-shadow: -5px 5px 3px red, 5px -5px 3px green;
}

.shadow {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

    box-shadow: inset 1px 2xp 5px blue, -1px -2px 5px green;
}

/* Тема 9 */

div.ex9 {
    width: 100px;
    height: 100px;
    background-color: grey;
    margin: 20px;

   /* border-radius: 15px 25px 35px 45px; */
   border-radius: 20px/40px;
}

ul li.ex9{
    list-style-type: disc;
    list-style-position: outside;
}

h3.ex9 {
    color: red;
}